body,
html {
    padding: 0;
    margin: 0;
}

main {
    padding: 1rem;
}

.main-header {
    height: 3.5rem;
    padding: 0 1.5rem 0 1.5rem;
    background-color: #ffbc02;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header__item {
    padding: 0;
    margin: 0 1rem;
}

.main-header__item a {
    color: black;
    font-family: 'Segoe UI';
    font-weight: bold;
    text-decoration: none;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #6700bb;
}